<div class="navbar-wrapper">
    <div class="m-header">
        <a href="/admin" class="b-brand text-primary">
            <!-- ========   Change your logo from here   ============ -->
            <img src="{{ url_for('static', filename='admin/images/logo-white.png') }}" class="img-fluid logo-lg"
                 alt="logo"/>
        </a>
    </div>
    <div class="navbar-content">
        <ul class="pc-navbar">
            <li class="pc-item pc-caption">
                <label data-i18n="Navigation">{{ _('Navigation') }}</label>
            </li>
            <li class="pc-item">
                <a href="/admin/search" class="pc-link">
                    <span class="pc-micon">
                      <i class="ti ti-input-search"></i>
                    </span>
                    <span class="pc-mtext">{{ _('Search') }}</span>
                </a>
            </li>
            <li class="pc-item">
                <a href="/admin" class="pc-link">
                    <span class="pc-micon">
                      <i class="ti ti-brand-google-analytics"></i>
                    </span>
                    <span class="pc-mtext">{{ _('Dashboard') }}</span>
                    <span class="pc-badge">10</span>
                </a>
            </li>
            <li class="pc-item pc-hasmenu">
                <a href="/admin/customer" class="pc-link">
                    <span class="pc-micon">
                      <i class="ti ti-car-garage"></i>
                    </span>
                    <span class="pc-mtext">{{ _('Car Management') }}</span>
                    <span class="pc-arrow"><i class="ti ti-chevron-right"></i></span>
                </a>
                <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="/admin/inventory" >{{ _('Car List') }}</a></li>
                    <li class="pc-item"><a class="pc-link" href="/admin/inventory/new">{{ _('Add New Car') }}</a></li>
                </ul>
            </li>
            <li class="pc-item pc-hasmenu">
                <a href="/admin/customer" class="pc-link">
                    <span class="pc-micon">
                      <i class="ti ti-user-dollar"></i>
                    </span>
                    <span class="pc-mtext">{{ _('Customer Management') }}</span>
                    <span class="pc-arrow"><i class="ti ti-chevron-right"></i></span>
                </a>
                <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="/admin/customer" >{{ _('Customers') }}</a></li>
                    <li class="pc-item"><a class="pc-link" href="/admin/customer/new">{{ _('Add New Customer') }}</a></li>
                </ul>
            </li>
            <li class="pc-item pc-hasmenu">
                <a href="/admin/customer" class="pc-link">
                    <span class="pc-micon">
                      <i class="ti ti-transaction-yen"></i>
                    </span>
                    <span class="pc-mtext">{{ _('Sale Management') }}</span>
                    <span class="pc-arrow"><i class="ti ti-chevron-right"></i></span>
                </a>
                <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="/admin/transaction" >{{ _('Transactions') }}</a></li>
                    <li class="pc-item"><a class="pc-link" href="/admin/transaction/new">{{ _('Add Transaction') }}</a></li>
                </ul>
            </li>
            <li class="pc-item pc-caption">
                <label>{{_('Setting')}}</label>
                <i class="ph ph-book-open-text"></i>
            </li>
            <li class="pc-item">
                <a href="/admin/setting/user" class="pc-link">
                    <span class="pc-micon">
                      <i class="ti ti-user-cog"></i>
                    </span>
                    <span class="pc-mtext">{{_('User')}}</span>
                </a>
            </li>
            <li class="pc-item">
                <a href="/admin/setting/system" class="pc-link">
                    <span class="pc-micon">
                      <i class="ti ti-settings-cog"></i>
                    </span>
                    <span class="pc-mtext">{{_('System')}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>