{% extends "_base.html" %}

{% block breadcrumb %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="mb-0">{{ _('Transactions') }}</h5>
                </div>
            </div>
            <div class="col-md-12">
                <ul class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/admin">{{ _('Home') }}</a></li>
                    <li class="breadcrumb-item"><a href="#!">{{ _('Sale Management') }}</a></li>
                    <li class="breadcrumb-item"><a href="#!">{{ _('Transactions') }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs invoice-tab mb-3" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button
                                class="nav-link active"
                                id="analytics-tab-1"
                                data-bs-toggle="tab"
                                data-bs-target="#analytics-tab-1-pane"
                                type="button"
                                role="tab"
                                aria-controls="analytics-tab-1-pane"
                                aria-selected="true"
                        >
                                <span class="d-flex align-items-center gap-2">{{_('All')}} <span
                                        class="avatar rounded-circle bg-light-primary">{{ cars|length }}</span></span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                                class="nav-link"
                                id="analytics-tab-2"
                                data-bs-toggle="tab"
                                data-bs-target="#analytics-tab-2-pane"
                                type="button"
                                role="tab"
                                aria-controls="analytics-tab-2-pane"
                                aria-selected="false"
                        >
                  <span class="d-flex align-items-center gap-2"
                  >{{_('Reserved')}} <span
                          class="avatar rounded-circle bg-light-success">{{ reserved_cars|length }}</span></span
                  >
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                                class="nav-link"
                                id="analytics-tab-3"
                                data-bs-toggle="tab"
                                data-bs-target="#analytics-tab-3-pane"
                                type="button"
                                role="tab"
                                aria-controls="analytics-tab-3-pane"
                                aria-selected="false"
                        >
                  <span class="d-flex align-items-center gap-2"
                  >{{_('Available')}} <span
                          class="avatar rounded-circle bg-light-warning">{{ available_cars|length }}</span></span
                  >
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                                class="nav-link"
                                id="analytics-tab-4"
                                data-bs-toggle="tab"
                                data-bs-target="#analytics-tab-4-pane"
                                type="button"
                                role="tab"
                                aria-controls="analytics-tab-4-pane"
                                aria-selected="false"
                        >
                  <span class="d-flex align-items-center gap-2"
                  >{{_('Unchecked')}} <span
                          class="avatar rounded-circle bg-light-danger">{{ unchecked_cars|length }}</span></span
                  >
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div
                            class="tab-pane fade show active"
                            id="analytics-tab-1-pane"
                            role="tabpanel"
                            aria-labelledby="analytics-tab-1"
                            tabindex="0"
                    >
                        <div class="table-responsive">
                            <table class="table table-hover" id="pc-dt-simple-2">
                                <thead>
                                <tr>
                                    <th>{{ _('No.') }}</th>
                                    <th>{{ _('Customer Name') }}</th>
                                    <th>{{ _('Car Name') }}</th>
                                    <th>{{ _('Purchase Date') }}</th>
                                    <th>{{ _('Selling Price') }}</th>
                                    <th>{{ _('Status') }}</th>
                                    <th class="text-end">{{ _('Actions') }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for transaction in transactions %}
                                {% for car in transaction.cars %}
                                <tr>
                                    <td>{{ transaction.id }}</td>
                                    <td>
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="mb-1"><a
                                                        href="{{ url_for('admin_routes.customer_detail', customer_id=transaction.customer.id) }}"
                                                        class="text-truncate w-100">{{ transaction.customer.name }}</a>
                                                </h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="mb-1"><a
                                                        href="{{ url_for('admin_routes.car_detail', car_id=car.id) }}"
                                                        class="text-truncate w-100">{{ car.name }}</a>
                                                </h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ transaction.purchase_date or '-' }}</td>
                                    <td>{{ transaction.selling_price or '-' }}</td>
                                    <td><span class="badge bg-light-success">{{ transaction.status or '' }}</span></td>
                                    <td class="text-end">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item"
                                            >
                                                <a href="{{ url_for('admin_routes.transaction_detail', transaction_id=transaction.id) }}"
                                                   class="avatar avatar-s btn-link-info btn-pc-default"><i
                                                        class="ti ti-eye f-20"></i></a
                                                ></li>
                                            <li class="list-inline-item"
                                            >
                                                <a href="{{ url_for('admin_routes.delete_transaction', transaction_id=transaction.id) }}"
                                                   class="avatar avatar-s btn-link-danger btn-pc-default"><i
                                                        class="ti ti-trash f-20"></i></a
                                                ></li>
                                        </ul>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="analytics-tab-2-pane" role="tabpanel"
                         aria-labelledby="analytics-tab-2" tabindex="0">
                        <div class="table-responsive">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="analytics-tab-3-pane" role="tabpanel"
                         aria-labelledby="analytics-tab-3" tabindex="0">
                        <div class="table-responsive">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="analytics-tab-4-pane" role="tabpanel"
                         aria-labelledby="analytics-tab-4" tabindex="0">
                        <div class="table-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-8">
        <div class="row g-3 mb-3">
            <div class="col-md-6 col-lg-4">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="mb-2 d-flex align-items-center justify-content-between gap-1">
                            <h6 class="mb-0">Total</h6>
                            <p class="mb-0 text-muted d-flex align-items-center gap-1">
                                <i class="ti ti-caret-up-filled text-success"></i>
                                70.5%
                            </p>
                        </div>
                        <div class="row g-2 align-items-center">
                            <div class="col-6">
                                <h5 class="mb-2 mt-3">$7,825</h5>
                                <div class="d-flex align-items-center gap-1">
                                    <h5 class="mb-0">9</h5>
                                    <p class="mb-0 text-muted d-flex align-items-center gap-2">invoices</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div id="total-invoice-1-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="d-flex mb-2 align-items-center justify-content-between gap-1">
                            <h6 class="mb-0">Paid</h6>
                            <p class="mb-0 text-muted d-flex align-items-center gap-1">
                                <i class="ti ti-caret-down-filled text-warning"></i>
                                -8.73%
                            </p>
                        </div>
                        <div class="row g-2 align-items-center">
                            <div class="col-6">
                                <h5 class="mb-2 mt-3">$5678.09</h5>
                                <div class="d-flex align-items-center gap-1">
                                    <h5 class="mb-0">5</h5>
                                    <p class="mb-0 text-muted d-flex align-items-center gap-2">invoices</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div id="total-invoice-2-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="mb-2 d-flex align-items-center justify-content-between gap-1">
                            <h6 class="mb-0">Overdue</h6>
                            <p class="mb-0 text-muted d-flex align-items-center gap-1">
                                <i class="ti ti-caret-down-filled text-danger"></i>
                                -4.73%
                            </p>
                        </div>
                        <div class="row g-2 align-items-center">
                            <div class="col-6">
                                <h5 class="mb-2 mt-3">$5678.09</h5>
                                <div class="d-flex align-items-center gap-1">
                                    <h5 class="mb-0">5</h5>
                                    <p class="mb-0 text-muted d-flex align-items-center gap-2">invoices</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div id="total-invoice-3-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4">
        <div class="card bg-primary">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                        <div class="avatar bg-white bg-opacity-10 text-white">
                            <i class="ph ph-user-plus f-22"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <p class="text-white mb-1 d-flex align-items-center gap-2">Total Recievables <i
                                class="ph ph-info align-middle"></i></p>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="text-white mb-0 d-flex align-items-center gap-2">Current <span
                                    class="fw-medium f-16">109.1k</span></p>
                            <p class="text-white mb-0 d-flex align-items-center gap-2">Overdue <span
                                    class="fw-medium f-16">62k</span></p>
                        </div>
                    </div>
                </div>
                <h4 class="text-white mt-3 mb-1">$43,078</h4>
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 me-3">
                        <div class="progress bg-light-warning" style="height: 7px">
                            <div class="progress-bar bg-warning" style="width: 90%"></div>
                        </div>
                    </div>
                    <div class="flex-shrink-0 text-end wid-30">
                        <p class="text-white mb-0">90%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='admin/js/plugins/apexcharts.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/js/plugins/simple-datatables.js') }}"></script>
<script src="{{ url_for('static', filename='admin/js/admin/invoice-list.js') }}"></script>
<script>
    ['#pc-dt-simple-1', '#pc-dt-simple-2', '#pc-dt-simple-3', '#pc-dt-simple-4'].forEach((tb) => {
        new simpleDatatables.DataTable(tb, { sortable: true });
    });
</script>
{% endblock %}