{% extends "_base.html" %}

{% block breadcrumb %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="mb-0">{{ _('Detail') }}</h5>
                </div>
            </div>
            <div class="col-md-12">
                <ul class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="{{ url_for('admin_routes.dashboard') }}">{{ _('Home') }}</a></li>
                    <li class="breadcrumb-item"><a href="#!">{{ _('Sale Management') }}</a></li>
                    <li class="breadcrumb-item"><a href="#!">{{ _('Detail') }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-lg-12">
        <div class="card">
            <form name="add_transaction"
                  action="{{ url_for('admin_routes.transaction_detail', transaction_id=transaction.id) }}" method="POST"
                  enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div id="sticky-transaction" class="sticky-action">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h5><i class="ph ph-user align-text-bottom text-primary f-20"></i><span
                                        class="p-l-5">{{ _('Transaction Detail') }}</span>
                                </h5>
                            </div>
                            <div class="col-sm-6 text-sm-end mt-3 mt-sm-0">
                                <button type="submit" class="btn btn-success">{{ _('Add') }}</button>
                                <button type="reset" class="btn btn-light-secondary">{{ _('Cancel') }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="customer">{{ _('Customer Name') }}<span
                                        class="text-danger">*</span></label>
                                <select id="customer" name="customer_id" class="form-control">
                                    <option value="">{{ _('Select A Customer') }}</option>
                                    {% for customer in customers %}
                                    <option value="{{ customer.id }}" {% if transaction.customer_id==customer.id
                                            %}selected="selected" {% endif %}>{{ customer.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <small class="form-text text-muted">{{ _('For more detail about the customer') }} <a
                                        href="{{ url_for('admin_routes.customer_detail', customer_id=transaction.customer_id) }}">{{
                                    transaction.customer.name or '' }}</a></small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="car_id">{{ _('Car') }}<span
                                        class="text-danger">*</span></label>
                                <select id="car_id" name="car_id" class="form-control">
                                    <option value="">{{ _('Select A Car') }}</option>
                                    {% for car in cars %}
                                    <option value="{{ car.id }}" {% if transaction.cars[0].id==car.id %}selected="selected"
                                            {% endif %}>{{ car.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <small class="form-text text-muted">{{ _('For more detail about the car') }} <a
                                        href="{{ url_for('admin_routes.car_detail', car_id=transaction.cars[0].id) }}">{{
                                    transaction.cars[0].name or '' }}</a></small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="purchase_date">{{ _('Purchase Date')
                                    }}</label>
                                <div class="input-group date">
                                    <input name="purchase_date" type="text"
                                           class="form-control datepicker-input"
                                           id="purchase_date" value="{{ transaction.purchase_date or ''}}">
                                    <span class="input-group-text"><i
                                            class="ph ph-calendar-blank"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="selling_price">{{ _('Unit Price') }}</label>
                                <input id="selling_price" name="selling_price" type="text"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="trans_status">{{ _('Status') }}</label>
                                <select class="form-control" name="status" id="trans_status">
                                    <option value="">{{ _('Customer status') }}</option>
                                    <option value="paid">{{ _('Paid') }}</option>
                                    <option value="wait2pay">{{ _('Wait to pay') }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="trans_note">{{ _('Note') }}</label>
                                <textarea class="form-control" id="trans_note" name="note"
                                          rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- [ sample-page ] end -->
</div>
{% endblock %}
